<div class="container">
  <div class="mb-3 d-flex justify-content-md-around">
    <div class="form-control bg-white p-5 rounded-4 border-0 shadow-sm">
      <%= simple_form_for(@teacher) do |t| %>
      <strong><h3 class="mb-4">Edit a teacher</h3></strong>
      <%= t.input :name %>
      <%= t.input :description %>
      <%= t.input :photo, as: :file %>
      <div class="d-flex justify-content-between">
        <%= t.submit class:"btn-flat m-3 ml-0 " %>
        <%= link_to "Back to all classes",  yoga_classes_path, class:"btn-flat m-3 mr-0 text-decoration-none" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
